<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/configuracion/periodo/listar'}"
						th:text="'&laquo; volver'"></a>
				</h4>
				<div th:object="${periodo}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/configuracion/periodo/form}"
					th:object="${periodo}" method="post">

					<div class="form-group row">
						<label for="cperiodoCod" class="col-sm-2 col-form-label">CODIGO
							DEL PERIODO</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{cperiodoCod}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('cperiodoCod')}"
								th:errors="*{cperiodoCod}"></small>
						</div>
					</div>


					<div class="form-group row">
						<label for="vtituloNom" class="col-sm-2 col-form-label">Titulo
							del Periodo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{vtituloNom}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('vtituloNom')}"
								th:errors="*{vtituloNom}"></small>
						</div>
					</div>



					<div class="form-group row">
						<label for="canioCod" class="col-sm-2 col-form-label">AÑO</label>
						<div class="col-sm-6">
							<select th:field="*{canioCod}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="2018">2018</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('canioCod')}" th:errors="*{canioCod}"></small>
						</div>
					</div>


					<div class="form-group row">
						<label for="cmesCod" class="col-sm-2 col-form-label">MES</label>
						<div class="col-sm-6">
							<select th:field="*{cmesCod}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="01">ENERO</option>
								<option value="02">FEBRERO</option>
								<option value="03">MARZO</option>
								<option value="04">ABRIL</option>
								<option value="05">MAYO</option>
								<option value="06">JUNIO</option>
								<option value="07">JULIO</option>
								<option value="08">AGOSTO</option>
								<option value="09">SETIEMBRE</option>
								<option value="10">OCTUBRE</option>
								<option value="11">NOVIEMBRE</option>
								<option value="12">DICIEMBRE</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cmesCod')}" th:errors="*{cmesCod}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="captitudVal" class="col-sm-2 col-form-label">VALOR
							APTITUD</label>
						<div class="col-sm-6">
							<select th:field="*{captitudVal}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="1">SI</option>
								<option value="0">NO</option>

							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('captitudVal')}"
								th:errors="*{captitudVal}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="cevaTipo" class="col-sm-2 col-form-label">EVALUADOR</label>
						<div class="col-sm-6">
							<select th:field="*{cevaTipo}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="UNIDAD">UNIDAD</option>
								<option value="BRIGADA">BRIGADA</option>
								<option value="DIVISION">DIVISION</option>

							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cevaTipo')}" th:errors="*{cevaTipo}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="crelacionCod" class="col-sm-2 col-form-label">RELACION
							CODIGO</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{crelacionCod}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('crelacionCod')}"
								th:errors="*{crelacionCod}"></small>
						</div>
					</div>



					<div class="form-group row">
						<label for="cestadoVal" class="col-sm-2 col-form-label">Estado</label>
						<div class="col-sm-6">
							<select th:field="*{cestadoVal}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="1">Habilitad</option>
								<option value="0">Deshabilitado</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cestadoVal')}"
								th:errors="*{cestadoVal}"></small>
						</div>
					</div>



					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>