<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light btn-xs"
						th:href="@{'/configuracion/examen/listar'}"
						th:text="'&laquo; volver'"></a>
				</h4>
				<div th:object="${examen}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/configuracion/examen/form}"
					th:object="${examen}" method="post">

		


	


					<div class="form-group row">
						<label for="canioCod" class="col-sm-2 col-form-label">TIPO
							EXAMEN</label>
						<div class="col-sm-6">
							<select th:field="*{tipoExamen.id}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="">--</option>
								<option th:each="tipoexamen : ${tipoExamenes}" th:value="${tipoexamen.id}"
									th:utext="${tipoexamen.vnombreCom}" />
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('tipoExamen.id')}" th:errors="*{tipoExamen.id}"></small>
						</div>
					</div>

				<div class="form-group row">
						<label for="nordenNum" class="col-sm-2 col-form-label">N° Orden</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{nordenNum}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nordenNum')}" th:errors="*{nordenNum}"></small>
						</div>
					</div>



					<div class="form-group row">
						<label for="canioCod" class="col-sm-2 col-form-label">PRUEBA</label>
						<div class="col-sm-6">
							<select th:field="*{prueba.id}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="">--</option>
								<option th:each="prueba : ${pruebas}" th:value="${prueba.id}"
									th:utext="${prueba.vnombreCom}" />
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('prueba.id')}" th:errors="*{prueba.id}"></small>
						</div>
					</div>

				<div class="form-group row">
						<label for="ncoefNum" class="col-sm-2 col-form-label">COEFICIENTE</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{ncoefNum}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('ncoefNum')}" th:errors="*{ncoefNum}"></small>
						</div>
					</div>



					<div class="form-group row">
						<label for="cestadoVal" class="col-sm-2 col-form-label">Estado</label>
						<div class="col-sm-6">
							<select th:field="*{cestadoVal}" class="form-control"
								th:errorclass="'form-control alert-danger'">
								<option value="1">Habilitad</option>
								<option value="0">Deshabilitado</option>
							</select> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('cestadoVal')}"
								th:errors="*{cestadoVal}"></small>
						</div>
					</div>



					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>