	.bg-dark {
	    background: #446934 !important;
	}
	
	
	main{
		min-height:80vh;
	} 
	
	select { width: 400px; text-align-last:center; }
	.form-control {
	  text-align: center;
	}
	
	
	
	body{
	  font-size: 12px;
	}
	
	
	
	
	.card-body{
	  overflow-y: scroll;
	  overflow-x: scroll;
	}
	.pagina{
	  width:2500px;  
	  /* overflow-y: visible;
	  overflow-x: visible; */
	  text-align: center;
	  white-space: nowrap;
	}
	
	.pagina-efe{
	  width:3500px;    
	  text-align: center;
	  white-space: normal;
	}
	
	
	
	
	.col{
	  border:0.02px;
	  border-style:solid ;
	  border-color: #06424f ;
	  background-color: white;
	  color: #000000;
	  padding: 0;        
	  }
	
	  .row {
	    height: 100%;
	  }
	
	
	
	  .sinpadding [class*="col-"] {
	    padding: 0;
	}
	
	
	.card-rep{
	  word-wrap: break-word;
	  background-color: #fff;
	  background-clip: border-box;
	  border: 1px solid rgba(0,0,0,.125);
	  border-radius: .25rem;
	}
	
	@media all {
		.page-break	{ display: none; }
	}
	@media print {
	
	  .card-rep{
	    word-wrap: break-word;
	    background-color: #fff;
	    background-clip: border-box;
	    border: 0;
	    border-radius: 0;
	  }
	
	  .card-body{
	    overflow-y: hidden;
	    overflow-x: hidden;
	  }
	  .page-break	{ display: block; page-break-before: always; }
	  body{ font-size: 6px}
	  .noImprimir{ display:none }
	  .pagina{
	    overflow:visible;
	    width:auto;
	    text-align: center;
	    white-space: normal;
	    border: 0px;
	  }
	  .pagina-efe{
	    overflow:visible;
	    width:auto;
	    text-align: center;
	    white-space: normal;
	    border: 0px;
	  }
	
	
	  @page {size: A4 landscape;margin: 0;border: 0px;}
	  }
	  
	
	  
	  .row, .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	    margin-left: 0px;
	    margin-right: 0px;
	    padding-right: 0px !important;
	    padding-left: 0px !important; 
	}
