<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<main class="container py-4">

		<div class="card bg-light" style>
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/configuracion/prueba/form}"
						class="btn btn-primary btn-xs">crear Prueba</a>
				</h4>
				<table class="table table-striped table-bordered text-center">
					<thead class="thead-inverse">
						<tr>
							<th>Fila</th>
							<th>Nombre Completo</th>

							<th>Nombre Abreviado</th>

							<th>Estado</th>
							<th>Opciones</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="prueba,iter: ${pruebas}">
							<td th:text="${iter.index}+1"></td>
							<td th:text="${prueba.vnombreCom}"></td>
							<td th:text="${prueba.vnombreAbr}"></td>

							<td th:if="${prueba.cestadoVal == '0'}" th:text="'Deshabilitado'">
							</td>
							<td th:if="${prueba.cestadoVal == '1'}" th:text="'Habilitado'">
							</td>



							<td><a class="btn btn-primary btn-xs"
								th:href="@{form/} + ${prueba.id}" th:text="'editar'"></a> <a
								class="btn btn-danger btn-xs"
								th:href="@{eliminar/} + ${prueba.id}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>